<h4>Total: <%= @total %></h4>
<h4>Result for: "<%= @keyword %>"</h4>

<%= render 'shared/search', city: @select_city, industry: @select_industry %>

<%= paginate @jobs %>

<% @jobs.each do |job| %>
  <div class="thumbnail">
    <h3><%= link_to job["job_title"], detail_path(job["id"]) %></h3>
    <p>Description: <%= truncate raw(job["job_description"]), length: 50 %></p>
    <div class="clearfix">
      <p class="pull-left">Location: <%= job["city_name"] %></p>
      <p class="pull-right">Salary: <%= job["salary"] %></p>
    </div>
  </div>
<% end %>