<div class="well text-center">
  <%= form_tag jobs_path, method: :get, class:"form-inline" do %>
    <%= text_field_tag :search, params[:search], size: 50, class:'form-control' %>
    <%= submit_tag 'Search', name: nil, class:"btn btn-default" %>
  <% end %>
  <%= link_to 'Advance Search', "#", data: {toggle:'modal', target:'#myModal'} %>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Advance Search</h4>
        </div>
        <div class="modal-body">
          <%= form_tag jobs_path, method: :get, class:"form-horizontal" do %>
            <div class="form-group">
              <%= label_tag :title, nil, class:"control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= text_field_tag :title, params[:title], size: 50, class:'form-control' %>
              </div>
            </div>

             <div class="form-group">
              <%= label_tag :salary, nil, class:"control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= select_tag :salary,
                  options_for_select(Job.salary_options.map {|k, v| [v, k]}),
                  prompt: '',
                  class:"form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :city, nil, class:"control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= select_tag :city_id,
                  options_from_collection_for_select(City.all, "id", "name"),
                  prompt: '',
                  class:"form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :industry, nil, class:"control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= select_tag :industry_id,
                  options_from_collection_for_select(Industry.all, "id", "name"),
                  prompt: '',
                  class:"form-control" %>
              </div>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag 'Search', name: nil, class:"btn btn-default" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

